name: "iCredible Repository Backup Process"
permissions:
  contents: read 

on:
  push:
    
jobs:
   secure_and_archive_repo:
     runs-on: ubuntu-latest
     steps:
       - name: Checkout repository
         uses: actions/checkout@v4
         with:
            fetch-depth: 0
    
       - name: "iCredible Git Sec | Backup"
         uses: berkayy-atas/All-in-One-Repo-Repair-Kit@latest
         with:
            icredible_activation_code: ${{ secrets.DEV_TEMP }}            
            icredible_encryption_password: ${{ secrets.ENCRYPTION_KEY }}
            github-token: ${{ secrets.GITHUB_TOKEN }}
            endpoint-preference: 'SINGLE'
            action: 'backup'
